[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-t0ofEr/gateway-client.git
[submodule "Products-ms"]
	path = Products-ms
	url = https://github.com/Nest-Microservices-t0ofEr/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-t0ofEr/orders-ms.git
